*{
    padding: 0;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif;
}


p{
	font-size: 14px;
	font-weight: 500;
}

a.active, a:hover{
    border: 1px solid sandybrown;
}


.debut{
	margin-top: 20px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	padding: 12px 0;
}

.apropos {
	text-align: center;
	margin-bottom: 15px;
}

.mo1{
	text-indent: 25px;
	padding: 0 20px;
	text-align: justify;
	line-height: 25px;
	font-size: 14px;
}

h2{
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	color: darkblue;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (max-width:991px){
    h2{
		font-size: 1.2em;
	}
}

@media screen and (max-width: 420px){


	#apropos{
		margin-bottom:50px;
	}
}

